<%#
Local variables:
* grid - instance of Datagrid
* assets - Array of database Entities
* options - passed options Hash
%>
<% if grid.html_columns(*options[:columns]).any? %>
  <%= content_tag :table, class: 'datagrid-table', **options.fetch(:html, {}) do %>
    <thead>
      <%= datagrid_header(grid, options) %>
    </thead>
    <tbody>
      <% if assets.any? %>
        <%= datagrid_rows(grid, assets, **options) %>
      <% else %>
        <tr><td class="datagrid-no-results" colspan="100%"><%= I18n.t('datagrid.no_results') %></td></tr>
      <% end %>
    </tbody>
  <% end %>
<% else -%>
  <%= I18n.t("datagrid.table.no_columns") %>
<% end %>
